example/apk/*.apk filter=lfs diff=lfs merge=lfs -text
# simpleperf 火焰图 report 库（大二进制，6-25MB）
xperf-core/simpleperf_scripts/bin/**/*.dylib filter=lfs diff=lfs merge=lfs -text
xperf-core/simpleperf_scripts/bin/**/*.so filter=lfs diff=lfs merge=lfs -text
xperf-core/simpleperf_scripts/bin/** filter=lfs diff=lfs merge=lfs -text
